requests==2.32.0
colorama==0.4.6
tqdm==4.66.4
numpy==1.26.4
pandas==2.2.2
websockets==13.1
aiohttp==3.9.5
eth-account==0.11.0
web3==6.17.2
solana==0.34.0
spl-token==4.0.0
base58==2.1.1
bip_utils==2.9.3
cryptography==42.0.7
PyQt5==5.15.9